# Makes /foo.html accessible via /foo
Options +MultiViews

# Protect access to administration dashboard
AuthType        Basic
AuthName        "Administration Dashboard"
AuthUserFile    /var/www/virtual/stoerkle/.htpasswd
<Files admin.html>
    Require valid-user
</Files>

# Redirects
Redirect /mail https://webmail.leo.uberspace.de