
@import 'nib/reset'

global-reset()
html5-reset()

page-width = 820px

box-margin = 25px
box-width = 210px

line = 20px

text-font = 'Gudea', sans-serif

text-color = #F6F7BD
background-color = #655643
header-background-color = #BF4D28
header-color = #E6AC27

body
	margin: 2*line 0 0 0

	background: background-color
	color: text-color

	font-family: text-font
	font-weight: 400
	font-size: 16px

h1,#page-container
	width: page-width
	margin: 0 auto

h1
	width: page-width - 40
	height: 2.5*line
	padding: 5px 20px

	background: header-background-color
	border-radius: 7px

	font-family: 'Sofia', cursive
	font-size: 30px
	color: header-color
	line-height: @height

h2
	margin: 0 0 line*0.5 0

	color: text-color
	// text-decoration: underline
	border-bottom: 1px solid text-color

	font-weight: 700

section
	display: inline-block
	vertical-align: top
	width: box-width
	margin: line box-margin 0 0
	padding: line 20px

	//border: 1px dotted header-background-color
	//border-radius: 7px

	line-height: 1.05*line

	&.right
		margin-right: 0
	
	&.wide
		width: 2*box-width + box-margin + 40px

	p,
	ul
		margin-top: 0.5*line

		&:first-of-type
			margin-top: 0

a
	color: text-color
	text-decoration: none

	border-bottom: 1px dotted header-color
	
	&:hover
		color: header-color
		border-style: solid


ul,ol
	line-height: 1.05*line

ul.inline li,
ol.inline li,
li.inline
	display: inline-block

footer
	margin: line 0 0 0
	padding: 0 20px 0 0
	text-align: right

	a
		color: text-color
		border-bottom: 1px solid transparent

		&:hover
			color: text-color
			border-color: @color