<% title "Imprint" %>

<section>
	<h2>Imprint</h2>

	<div class="vcard" itemscope itemtype="http://schema.org/Person">
	<p>
			<span class="fn" itemprop="name">Florian Störkle</span>
			<br>
			<span>florian (at) stoerkle.net</span>
		</p>
		<p>
		<span class="adr" itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
				<span class="street-address" itemprop="streetAddress">Bavariastraße 9</span>
				<br>
				<span class="postal-code" itemprop="postalCode">80336</span>&nbsp;<span class="locality" itemprop="addressLocality">Munich</span>
				<br>
				<span class="country-name" itemprop="addressCountry">Germany</span>
			</span>
		</p>
		</div>
</section>
