<!DOCTYPE html>
<html>
<head>
  <title><%= @title %> – florian störkle</title>
  
  <meta charset="utf-8">
  <meta name="keywords" content="Florian Störkle,Stoerkle,Munich,München,Webentwicklung,web development,software development,software engineering">
  <meta name="description" content="Florian Störkle is a web developer studying Computer Science, based in Munich.">

  <link href="/assets/screen.css" rel="stylesheet" type="text/css">
</head>

<body>

<h1><%= @title %></h1>

<div id="page-container">
  <nav>
    <%= render_navigation %>
  </nav>

  <%= yield %>
  
  <footer>
    <% unless @title == "Imprint" %>
    <a href="/imprint">Imprint</a>
    <% end %>
  </footer>
</div>

<!-- Piwik --> 
<script type="text/javascript">
var pkBaseURL = "//stoerkle.net/analytics/";
document.write(unescape("%3Cscript src='" + pkBaseURL + "piwik.js' type='text/javascript'%3E%3C/script%3E"));
</script><script type="text/javascript">
try {
var piwikTracker = Piwik.getTracker(pkBaseURL + "piwik.php", 1);
piwikTracker.trackPageView();
piwikTracker.enableLinkTracking();
} catch( err ) {}
</script><noscript><p><img src="//stoerkle.net/analytics/piwik.php?idsite=1" style="border:0" alt="" /></p></noscript>
<!-- End Piwik Tracking Code --></body>
</html>
