html {
	font-family: "Lucida Grande", Arial, sans-serif;
	font-size: 13px;
}

section {
	display: inline-block;
	width: 400px;
	vertical-align: top;
}

section.wide {
	width: 600px;
}

section > * {
	padding: 3px 5px;
}

section h2 {
	background: #eeeeee;
}

ul,
ol {
	list-style: none;
	text-indent: 0;
}