@import "meyer-reset";

$box-width: 100%;
$factor: 1.2;
$line-height: 100% * $factor;

$padding: 20px;


body {
  padding: 0 0 3em 0;

  font-family: Arial, Helvetica, sans-serif;  
}

main,
footer {
  min-width: 50%;
}

h1 {
  padding: 36px $padding 0 $padding;
  height: 164px;
  width: $box-width;

  font-family: "Arial Black", Arial, sans-serif;
  font-size: 32px;
  letter-spacing: -3px;

  color: #2F3A47;
  background: url(/assets/mountains.jpg) right no-repeat;
}

h2 {
  padding: 0.2em $padding;
  margin: 2em 0 0 0;

  font-family: "Courier New", Courier, monospace;
  font-size: 24px;
  font-variant: small-caps;

  color: #FFF;
  background: #69819A;

  width: $box-width;
}

h3 {
  padding: 0.2em $padding;
  margin: 2em 0 0 0;

  font-weight: bold;
}

p,
ul {
  margin: 1.2em 0 0 $padding;
  line-height: $line-height;

  width: $box-width;
}

ul {
  line-height: $line-height * 1.1;
}

li {
  margin: 0 0 0 $padding;
  padding: 0 0 0 ($padding / 2);

  list-style-type: square;
}

a {
  color: #69819A;

  &:hover {
    text-decoration: none;
  }
}

i {
  color: #2F3A47;
}

footer {
  li {
    list-style: none;

    margin-left: 0;
    padding-left: 0;

    i {
      margin-right: $padding / 2;
    }
  }
}

@media (min-width: 768px) {
  main, footer {
    max-width: 80%;
    margin: 0 auto;
  }
}