body,
html {
	font-family: "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
	font-size: 100.1%;
}

#page {
	width: 100%;
	height: 100%;
}

h1 {
	margin:  40px 0 0 250px;
	
	font-family: Georgia,serif;
	font-weight: normal;
	font-size: 160%;
	font-variant: small-caps;
}

#navigation {
	width: 180px;
	margin: 20px 0 30px 0;
	padding: 0 70px 0 0;
	
	list-style: none;
	text-indent: 0;
	text-align: right;
}

#small-col {
	float: left;
	
	width: 250px;
	margin: 0 0 0 250px;
	padding: 0;
}

#wide-col {
	float: left;
	
	width: 450px;
	margin: 0 0 0 50px;
	padding: 0;
}


h2 {
	font-family: Georgia,serif;
	font-weight: normal;
	font-size: 110%;
	font-variant: small-caps;
	
	margin: 0 0 0 0;
	padding: 0;
}

#navigation,
p {
	line-height: 140%;
}

#small-col ul,
#wide-col ul,
#wide-col dl {
	margin-left: 20px;
	padding: 0;
	text-indent: 0;
	list-style-type: circle;
	line-height: 140%;
}

dl#exams {
	margin-left: 0;
}

dl#exams dd {
	color: #888888;
	margin: 0 0 20px 0;
}

#small-col hr {
	height: 0;
	border-width: 0 0 1px 0;
	border-bottom: 1px dotted #888888;
}


a {
	color: #000000;
}
a:link {
	text-decoration: underline;
}
a:visited {
	text-decoration: underline;
}
a:focus {
	text-decoration: underline;
}
a:hover {
	text-decoration: none;
}
a:active {
	text-decoration: none;
}

.highlight {
	font-style: italic;
	color: #888888;
}

hr#footer {
	height: 0;
	color: white;
	clear: left;
}