<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= page.title %></title>

  <link href="/assets/stoerkle.css" rel="stylesheet">
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>
  <main>
    <h1><%= page.title %></h1>

    <%- page.html %>
  </main>
  <footer>
    <h2 id="contact">Contact</h2>
    <ul>
      <li><i class="fa fa-send"></i> florian (at) stoerkle.net</li>
      <li><i class="fa fa-twitter"></i> <a href="https://twitter.com/florian_st">@florian_st</a></li>
      <li><i class="fa fa-github"></i> <a href="https://github.com/fstoerkle">fstoerkle</a></li>
      <li><i class="fa fa-info-circle"></i> <a href="/legal.html">Impressum/Legal</a></li>
    </ul>
  </footer>
</body>
</html>


