<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= page.title %></title>

  <link rel="stylesheet" href="/assets/stoerkle.css">
</head>
<body>
  <h1><%= page.title %></h1>

  <%- page.html %>

  <aside>
    <h2 id="contact">Contact</h2>
    <ul>
      <li>florian (at) stoerkle.net</li>
      <li><a href="https://twitter.com/florian_st">@florian_st</a></li>
      <li><a href="https://github.com/fstoerkle">fstoerkle</a></li>
      <li>Bavariastraße, Munich</li>
    </ul>
  </aside>
</body>
</html>


