<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>{{ page.title }}</title>

	<meta name="author" content="Florian Störkle">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link href="/assets/css/bootstrap.min.css" rel="stylesheet" media="screen">
	<link href="/assets/css/bootstrap-responsive.min.css" rel="stylesheet">
	<link href="/assets/css/font-awesome.min.css" rel="stylesheet">
	<link href="/assets/css/stoerkle.css" rel="stylesheet">
	<link href="http://fonts.googleapis.com/css?family=Arvo" rel="stylesheet">
</head>
<body>

<div class="row-fluid header">
	<h1 class="span9 offset1"><a href="/">Florian Störkle</a></h1>
</div>

{{ content }}

<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>
</body>
</html>